.pio
.vscode
build/
data/spiffs.json
data/wifi_sta_config.json
data/wifi_soft_ap_config.json
web/node_modules
web/assets
web/dist
src/index.html.h
src/main.cpp
src/modules.h
src/modules
web/src/main.ts
web/src/index.html
web/src/ts/modules
esp32-brick
