.sortable-data-table.left {
  text-align: left;
}

.sortable-data-table.right {
  text-align: right;
}

.sortable-data-table.nowrap {
  white-space: nowrap;
}

.sortable-data-table, .sortable-data-table.center {
  text-align: center;
}
.sortable-table td:nth-of-type(2) {
  white-space: wrap;
}

@media(max-width: 1600px) {
  .sortable-table, .sortable-table tbody, .sortable-table thead, .sortable-table tbody, .sortable-table th, .sortable-table td, .sortable-table tr {
    display: block;
    width: 100%;
    clear: both;
  }

  .sortable-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .sortable-table tr {
    padding-bottom: 5px;
    border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
  }

  .sortable-table td:before {
    float: left;
    width: 35%;
    padding: 0 0 0 1%;
  }

  .sortable-table td {
    padding-left: 10%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .sortable-table td {
    border: none;
    padding: 2px 0 2px 0;
  }

  .sortable-table td:nth-of-type(1):before { content: "Hersteller:"; }
  .sortable-table td:nth-of-type(2):before { content: "Gerät/Serie:"; }
  .sortable-table td:nth-of-type(3):before { content: "Schnittstelle:"; }
  .sortable-table td:nth-of-type(4):before { content: "Messort:"; }
  .sortable-table td:nth-of-type(5):before { content: "Anwendung:"; }
}

.device {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  text-align: center;
  border-radius: 25px;
  height: 25px;
  width: min-content;
}

.device.available {
  color: #ffffff;
  background: #008000;
  border: solid 1px #008000;
}

.device.optional {
  color: #008000;
  background: #ffffff;
  border: solid 1px #008000;
}

.device.maybe {
  color: #D3D3D3;
  background: #ffffff;
  border: solid 1px #d3d3d3;
}

.device.unavailable {
  visibility: hidden;
}

.manufacturer_devices {
  display: block;
}

.manufacturer_devices .interface {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 5px;
}

.manufacturer_devices .meters {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 5px;
}

.manufacturer_devices .features {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 5px;
}

.application {
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 2px;
  text-align: center;
  border-radius: 25px;
  height: 25px;
  width: min-content;
}

.application.available {
  color: #ffffff;
  background: #0000ff;
  border: solid 1px #0000ff;
}

.application.optional {
  color: #0000ff;
  background: #ffffff;
  border: solid 1px #0000ff;
}

.application.maybe {
  color: #D3D3D3;
  background: #ffffff;
  border: solid 1px #d3d3d3;
}

.application.unavailable {
  visibility: hidden;
}
