.sortable-data-table.left {
  text-align: left;
}

.sortable-data-table.right {
  text-align: right;
}

.sortable-data-table.nowrap {
  white-space: nowrap;
}

.sortable-data-table, .sortable-data-table.center {
  text-align: center;
}
