/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

.navbar__logo img {
  height: 25px;
  margin-top: 4px;
}

.navbar--dark {
  --ifm-navbar-background-color: #383838;
}
.footer--dark {
  --ifm-footer-background-color: #383838;
}

:root {
  --ifm-background-color: #fcfcfc;
  --ifm-color-primary: #00aaea;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00aaea;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* Let API reference tables fill the available horizontal space.
   TODO: Prefix this or move to a class if other tables look bad. */
table {
    display: table;
    width: 100%;
}

/* Hides the tabs themselves. Tab controlled content is still visible. */
.hidden-tabs {
    display: none;
}

/* This is docusaurus example for tab styling */
.unique-tabs .tabs__item {
    line-height: 16px;
    margin-right: 8px;
}

.unique-tabs .tabs__item--active {
    border: 0;
    color: #fff;
    border-radius: var(--ifm-global-radius);
    background-color: var(--ifm-tabs-color-active);
}
