// Toggle global options
//$enable-gradients: true;
//$enable-shadows: true;

// Customize some defaults
//$body-color: purple;
//$body-bg: #f5f5f5;

$body-color: black;
$gray-700: black;
$gray-900: black;

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1290px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1230px
);

@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
//@import "../../node_modules/bootstrap/scss/images";
//@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
//@import "../../node_modules/bootstrap/scss/breadcrumb";
//@import "../../node_modules/bootstrap/scss/pagination";
//@import "../../node_modules/bootstrap/scss/badge";
//@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
//@import "../../node_modules/bootstrap/scss/media";
//@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/close";
//@import "../../node_modules/bootstrap/scss/toasts";
@import "../../node_modules/bootstrap/scss/modal";
//@import "../../node_modules/bootstrap/scss/tooltip";
//@import "../../node_modules/bootstrap/scss/popover";
//@import "../../node_modules/bootstrap/scss/carousel";
@import "../../node_modules/bootstrap/scss/spinners";
@import "../../node_modules/bootstrap/scss/utilities";
//@import "../../node_modules/bootstrap/scss/print";

@import "../../node_modules/chartist/dist/scss/chartist.scss";

.borderless-form-control {
    @extend .form-control;
    border: none;
    height: auto;
}


// Color graph points and lines (with transparency) in bootstrap's primary color
.ct-series-a .ct-line {
    stroke: var(--primary);
    opacity: .65;
    stroke-width: 2px;
}

.ct-series-a .ct-point {
    stroke: var(--primary);
}

.ct-label {
    color: rgba(0,0,0,.66);
}

.ct-label.ct-horizontal.ct-end {
    transform: translate(-50%,0);
    display: block;
    text-align: center;
    width: 100px !important; //For some reasone chartist sets every label to a width of 1 px. Fix this here so that the centering works.
}

.ct-grid {
    stroke-dasharray: 4px;
}

body {
  font-size: 0.875rem;
  line-height: 1.2;
}

.feather {
  vertical-align: middle;
}

.form-label {
    font-size: 1.25rem;
    line-height: 1.2;
}

/*
* Sidebar
*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 66px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 66px; //TODO: don't hardcode this
    padding-top: 0;
  }
}

//TODO: don't hardcode top
.alert_placeholder {
    position: fixed; top: 66px; left: 0px; right: 0px; z-index: 9999;
}

.custom-alert {
    margin-bottom: 0;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 66px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports (position: sticky) {
  .sidebar-sticky {
    position: sticky;
  }
  @media (min-width: 576px) {
        .sticky-top {
            position: sticky;
        }
    }
}

@media (max-width: 575.98px) {
    .sticky-top {
        position: static;
    }
}



.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 8px;
  color: #333;
}

.sidebar .nav-link.active {
  color: var(--primary);
}

.sidebar .nav-link:hover {
    color: var(--primary);
  }

.sidebar .nav-link:hover .feather {
  color: var(--primary);
}
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link.disabled {
    font-weight: 500;
    color: #AAA;
  }

.sidebar .nav-link.disabled .feather {
  margin-right: 4px;
  color: #AAA;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
* Navbar
*/

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: #555;
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
}

.navbar {
  background-color: #555;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.form-progress {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.text-muted {
    color: rgba(0,0,0,.66) !important;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    border-color: #555 !important;
    color: #555 !important;
    opacity: 1 !important;
}

.btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
    border-color: #555 !important;
    color: #555 !important;
    opacity: 1 !important;
}

.btn-outline-success.disabled, .btn-outline-success:disabled {
    border-color: #555 !important;
    color: #555 !important;
    opacity: 1 !important;
}

.btn-outline-danger.disabled, .btn-outline-danger:disabled {
    border-color: #555 !important;
    color: #555 !important;
    opacity: 1 !important;
}

.btn-outline-warning.disabled, .btn-outline-warning:disabled {
    border-color: #555 !important;
    color: #555 !important;
    opacity: 1 !important;
}

.btn-outline-info.disabled, .btn-outline-info:disabled {
    border-color: #555 !important;
    color: #555 !important;
    opacity: 1 !important;
}

.text-muted {
    display: inline-block;
}

.navbar-dark .navbar-toggler-icon {
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-toggler:hover {
    background-color: #5a6268
}

.feather-trash-2 {
    vertical-align: top !important;
}

.custom-file-label {
    overflow: hidden;
    white-space: nowrap;
    // For nice text overflow we need also padding-right, problem is
    // the button width is not constant, but 8em should work for most cases
    padding-right: 8em;
    text-overflow: ellipsis;
}

.bg-light {
    background-color: #eeeff0 !important;
}

.nav-nested {
    background-color: #f8f9fa;
    box-shadow: rgba(0, 0, 0, 0.1) -1px 0px 0px inset;
}

.unrotated-chevron {
    transition: 0.50s;
}

.rotated-chevron {
    transition: 0.50s;
    transform: rotate(90deg);
}
