// Toggle global options
//$enable-gradients: true;
//$enable-shadows: true;

// Customize some defaults
//$body-color: purple;
//$body-bg: #f5f5f5;

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 0.875rem;
}

.feather {
  vertical-align: middle;
}

.form-label {
    font-size: 1.25rem;
    line-height: 1.2;
}

/*
* Sidebar
*/

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 60px; //TODO: don't hardcode this
    padding-top: 0;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports (position: sticky) {
  .sidebar-sticky {
    position: sticky;
  }
  @media (min-width: 576px) {
        .sticky-top {
            position: sticky;
        }
    }
}

@media (max-width: 575.98px) {
    .sticky-top {
        position: static;
    }
}



.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #333;
}

.sidebar .nav-link.active {
  color: var(--primary);
}

.sidebar .nav-link:hover {
    color: var(--primary);
  }

.sidebar .nav-link:hover .feather {
  color: var(--primary);
}
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar .nav-link.disabled {
    font-weight: 500;
    color: #AAA;
  }

.sidebar .nav-link.disabled .feather {
  margin-right: 4px;
  color: #AAA;
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

/*
* Navbar
*/

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: #00AAEA;
  /*box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);*/
}

.navbar {
  background-color: #00AAEA;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15) !important;
}

.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.form-progress {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  line-height: 0;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

.text-muted {
    color: rgba(0,0,0,.66) !important;
}
